/* .pageWrapper {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-align: center  ;
}
.heading {
  font-size: 4.2rem;
  margin-top: 2rem;
}
.heading span {
  color: rgb(252, 185, 0);
}

.content1{
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  align-items: center;
  min-height: 60dvh;
  height: auto;
  min-width: 80%;
  width: auto;
}
.planeImage > img {
  width: 40vw;
  min-width: 500px;
  height: auto;
  animation-name: move;
  animation-duration: 0.4s;
}

@keyframes  move{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
.textContent {
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  z-index: 6;
}
.textHeading {
  font-size: 2.3rem;
  color: rgb(252, 185, 0);
  text-align: justify;
}
.textPara {
  max-width: 500px;
  line-height: 1.5em;
  text-align: justify;
  min-width: 400px;
}


.content2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}
.hello{
  height: 70vh;
  width: 90vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.hello img{
  height: 100%;
  object-fit: contain;
}
.test_image{
  position: absolute;
  z-index: 4;
  margin-bottom: -20%;
}
.test_image1{
  margin-bottom: -20%;
  position: absolute;
  z-index: 3;
}
.bottomImage {
  position: relative ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100vw;
  height: 31%;
  top: -18%;
  border-bottom: 2px solid #d9d9d9;
  overflow: clip;
}

.bottomImage > video {
  width: 60vw;
  height: auto;
  min-width: 600px;
  object-fit: fill;
}
.v1{
  margin-bottom: -100px;
  margin-top: -20px;
}
.bottomImage > img {
  width: 60vw;
  height: auto;
  min-width: 600px;
}

@media screen and (max-width:1400px) and (min-width:1200px) {
  .heading{
    font-size:3.5rem ;
  }
  .textHeading{
    font-size: 2rem;
  }
}
@media screen and (max-width:1200px) and (min-width:1000px) {
  .heading{
    font-size:3.25rem ;
  }
  .textHeading{
    font-size: 1.5rem;
  }
  .textContent p{
    font-size: 1rem;
  }
  .planeImage > img {
    width: 50vw;
    min-width: 300px;
  }
}
@media screen and (max-width:1000px) and (min-width:800px) {

  .heading{
    font-size:3.5rem ;
  }
  .textHeading{
    font-size: 2rem;
  }
  .planeImage > img {
    width: 70vw;
    min-width: 300px;
  }
  .pageWrapper{
    gap: 2rem;
    height: 100%;
  }
  .content1{
    flex-direction: column;
  }
  .bottomImage{
    top: 0;
  }
}
@media screen and (max-width:800px) and (min-width:600px){
  .heading{
    font-size:3.5rem ;
  }
  .textHeading{
    font-size: 1.75rem;
  }
  .planeImage > img {
    width: 70vw;
    min-width: 300px;
  }
  .pageWrapper{
    gap: 1.75rem;
    height: 100%;
  }
  .content1{
    flex-direction: column;
  }
  .bottomImage{
    top: 0;
  }
}
@media screen and (max-width:600px) and (min-width:500px){
  .heading{
    font-size:3rem ;
  }
  .textHeading{
    font-size: 1.5rem;
  }
  .planeImage > img {
    width: 70vw;
    min-width: 300px;
  }
  .pageWrapper{
    gap: 1.75rem;
    height: 100%;
  }
  .content1{
    flex-direction: column;
  }
  .textContent{
    font-size: 1rem;
    padding-inline: 1rem;
  }
  .bottomImage {
    position: relative;
    top:0;
    width: 100%;
  }

  .bottomImage > img {
    width: 80vw;
    min-width: 300px;
  }
}
@media screen and (max-width:500px) and (min-width:480px){
  .heading{
    font-size:2.5rem ;
  }
  .textHeading{
    font-size: 1.25rem;
  }
  .planeImage > img {
    width: 70vw;
    min-width: 300px;
  }
  .pageWrapper{
    gap: 1.5rem;
    height: 100%;
  }
  .content1{
    flex-direction: column;
    padding: 1rem;
  }
  .textContent{
    font-size: 1rem;
    padding-inline: 1rem;
  }
  .bottomImage {
    position: relative;
    top:0;
    width: 100%;
  }

  .bottomImage > img {
    width: 80vw;
    min-width: 300px;
  }
}
@media screen and (max-width:480px) and (min-width:400px){
  .heading{
    font-size:2.5rem ;
  }
  .textHeading{
    font-size: 1.3rem;
  }
  .planeImage > img {
    width: 90vw;
    min-width: 300px;
  }
  .pageWrapper{
    gap: 1.5rem;
    height: 100%;
  }
  .content1{
    flex-direction: column;
  }
  .textContent{
    font-size: 1rem;
    gap: 0.5rem;
    padding-inline: 0rem;
  }
  .bottomImage {
    position: relative;
    top:0;
    width: 100%;
  }

  .bottomImage > img {
    width: 70vw;
    min-width: 350px;
  }
  .textPara {
    max-width: 300px;
    min-width: 250px;
  }
}
@media screen and (max-width:400px) and (min-width:300px){
  .heading{
    font-size:2.5rem ;
  }
  .textHeading{
    font-size: 1.3rem;
    word-spacing: -0.3rem;
  }
  .planeImage{
    position: relative;
    top: 10%;
  }
  .planeImage > img {
    width: 90vw;
    min-width: 300px;
  }
  .pageWrapper{
    gap: 1rem;
    height: 100%;
  }
  .content1{
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.75rem;
  }
  .textContent{
    font-size: 0.8rem;
    gap: 0rem;
    padding-inline: 0rem;
  }
  .bottomImage {
    position: relative;
    top:0;
    width: 100%;
  }

  .bottomImage > img {
    width: 60vw;
    min-width: 350px;
    min-height: 100px;
  }
  .textPara {
    text-wrap: wrap;
    max-width: 400px;
    min-width: 250px;
    height: 100px;
  }
}
@media screen and (max-width:350px) and (min-width:325px){
  .bottomImage > img {
    width: 60vw;
    min-width: 300px;
    min-height: 50px;
  }
}
@media screen and (max-width:325px) and (min-width:300px){
  .bottomImage > img {
    width: 60vw;
    min-width: 275px;
    min-height: 50px;
  }
}


@media screen and (max-width:1600px) and (min-width:1000px){
  .content1{
    display: none;
  }
}
@media screen and (max-width:1000px) and (min-width:300px){
  .content2{
    display: none;
  }
  .textContent{
    z-index: 4;
  }
}
@media screen and (max-width:1100px) and (min-width:1000px){
  .bottomImage video{
    z-index: 1;
    top: -10%;
  }
  .v1{
    margin-top: -150px;
    margin-bottom: -250px;
  }
}
@media screen and (max-width:1000px) and (min-width:300px){
  .bottomImage video{
    z-index: 1;
    top: -10%;
  }
  .v1{
    margin-top: -200px;
    margin-bottom: -250px;
  }
} */


.top_carousel_container{
  height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 50px;
}
.heading {
  font-size: 4.2rem;
  margin-top: 2rem;
  text-align: center  ;
}
.heading span {
  color: rgb(252, 185, 0);
}
/* Carousel  */

.carouselContainer_top_carousel {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
  height: 70%;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.left_top_carousel, .right_top_carousel{
  position: absolute;
  /* z-index: 1; */
  background: rgba(0,0,0,0.2);
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.btn_cont_top_carousel{
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.left_top_carousel{
  left: 1%;
  top: 45%;

}
.right_top_carousel{
  right:1%;
  top: 45%;
}

.carousel_top_carousel {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
  height: 70%;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.cards_top_carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
}

.card_top_carousel {
  display: flex;
  flex: 0 0 100%;
  cursor: grab;
}

.card_top_carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.change_top_carousel{
  height: 30px;
  width: 80px;
  background:rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 46%;
}
.change_1_top_carousel, .change_2_top_carousel, .change_3_top_carousel{
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background:rgba(0, 0, 0, 0.2);
  border: none;
}


/* media queries  */


@media screen and (max-width: 1400px) and (min-width:1000px ){
  .card_top_carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .left_top_carousel,.right_top_carousel{
    img{
      height: 35px;
      width: 35px;
    }
  }
  .heading{
    text-align: center;
    font-size: 3.25rem;
  }
}
@media screen and (max-width: 1000px) and (min-width:700px ){
  .carousel_top_carousel {
    width:100%;
    height: 100%;
    border-radius: 10px;
  }
  .cards_top_carousel {
    display: flex;
    height: auto;
    width: 100%;
  }
  .card_top_carousel{
    flex-direction: column;
  }
  .card_top_carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .left_top_carousel,.right_top_carousel{
    img{
      height: 35px;
      width: 35px;
    }
  }
.change_top_carousel{
    left: 44%;
    bottom: 1%;
    transform: scale(0.75);
  }
  .heading{
    text-align: center;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 700px) and (min-width:500px ){
  .carouselContainer_top_carousel{
    padding-bottom: 0px;
  }
  .carousel_top_carousel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .cards_top_carousel {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .card_top_carousel{
    flex-direction: column;
  }
  .card_top_carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .left_top_carousel,.right_top_carousel{
    img{
      height: 35px;
      width: 35px;
    }
  }
.change_top_carousel{
    left: 35%;
    bottom: 1%;
    transform: scale(0.75);
  }
  .heading{
    text-align: center;
    font-size: 2.5rem!important;
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) and (min-width:400px ){
  .carouselContainer_top_carousel{
    padding-bottom: 0px;
  }
  .carousel_top_carousel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .cards_top_carousel{
    display: flex;
    height: 80vh;
    width: 80vw;
  }
  .card_top_carousel{
    flex-direction: column;
    width: 80vw;
    height: 70vh;
  }
  .card_top_carousel img {
    width: 80vw;
    height: 30vh;
    object-fit: cover;
  }
  .left_top_carousel,.right_top_carousel{
    img{
      height: 35px;
      width: 35px;
    }
  }

.change_top_carousel{
    left: 39%;
    bottom: 1%;
    transform: scale(0.6);
  }
  .heading{
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem!important;
  }
}
@media screen and (max-width: 400px) and (min-width:300px ){
  .carouselContainer_top_carousel{
    padding-bottom: 0px;
  }
  .carousel_top_carousel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .cards_top_carousel{
    display: flex;
    height: 30vh;
    width: 80vw;
  }
  .card_top_carousel{
    flex-direction: column;
    width: 80vw;
    height: 30vh;
  }
  .card_top_carousel img {
    width: 80vw;
    height: 20vh;
    object-fit: scale-down;
    transform: scale(1.1);
  }
  .left_top_carousel,.right_top_carousel{
    img{
      height: 35px;
      width: 35px;
    }
  }

.change_top_carousel{
    left: 39%;
    bottom: 1%;
    transform: scale(0.6);
  }
  .heading{
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem!important;
  }
}

@media screen and (max-width:2500px) and (min-width:700px){
  .at_low_media_queries{
    display: none;
  }
}
@media screen and (max-width:700px) and (min-width:250px){
  .at_low_media_queries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards_top_carousel{
    display: none;
  }
  .change_top_carousel{
    display: none;
  }
}