/* styling with image  */

/* .wrapper {
  height: 100dvh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigTextWrapper {
  font-size: 4.7rem;
  line-height: 9rem;
}

.bigTextWrapper span {
  color: rgb(252, 185, 0);
}

.smallTextWrapper {
  font-size: 1rem;
}
.smallTextWrapper span {
  color: rgb(252, 185, 0);
}
.btn {
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgb(10, 10, 10) 100%);
  border-radius: 32px;
  color: white;
  border: none;
  padding-inline: 2rem;
  padding-block: 0.7rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 60px;
}

@media screen and (min-width:950px) and (max-width: 1496px) {
  .bigTextWrapper {
    font-size: 4.7rem;
    text-align: center;
  }

  .smallTextWrapper {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    width: 80%;
  }
  .btn {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 1rem;
  }
  .bgImage {
    object-fit: cover;
  }
}
@media screen and (min-width:750px) and (max-width:950px){
  .bigTextWrapper {
    font-size: 4rem;
    text-align: center;
  }

  .smallTextWrapper {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
  }
  .btn {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 1rem;
  }
  .bgImage {
    object-fit: cover;
  }
}
@media screen and (min-width:600px) and (max-width:750px){
  .bigTextWrapper {
    font-size: 3.5rem;
    text-align: center;
  }

  .smallTextWrapper {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
  }
  .btn {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 1rem;
  }
  .bgImage {
    object-fit: cover;
  }
}
@media screen and (min-width:500px) and (max-width:600px){
  .bigTextWrapper {
    font-size: 3rem;
    text-align: center;
    line-height: 6rem;
  }

  .smallTextWrapper {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    width: 70%;
  }
  .content{
    gap: 3rem;
  }
  .btn {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 0.9rem;
    height: 50px;
  }
  .bgImage {
    object-fit: cover;
  }
}
@media screen and (min-width:410px) and (max-width:500px){
  .bigTextWrapper {
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;

  }

  .smallTextWrapper {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    width: 80%;
  }
  .content{
    gap: 3rem;
  }
  .btn {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 0.8rem;
    height: 50px;
  }
  .bgImage {
    object-fit: cover;
  }
}
@media screen and (min-width:300px) and (max-width:410px){
  .textSection{
    gap: 2rem;
  }
  .bigTextWrapper {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
  }

  .smallTextWrapper {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
  }
  .content{
    gap: 3rem;
  }
  .btn {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 0.8rem;
    height: 40px;
  }
  .bgImage {
    object-fit: cover;
  }
}
@media screen and (min-width:300px) and (max-width:350px){
  .bigTextWrapper{
    line-height: 3rem;
  }
  .content{
    gap: 2.5rem;
  }
  .smallTextWrapper{
    font-size: 0.9rem;
    width: 100%;
  }
} */



/* styling with video  */

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bgVideo {
  width: 100vw;
  height: auto;
  object-fit: contain;
}
