
.contentwrapper{
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    border-bottom: 1px solid #d9d9d9;


}
.Head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.sub1{
    font-size: 4.25rem;
}
.sub2{
    font-size: 1.12rem;
}
.sub1 span{
    color: rgb(252, 185, 0);
}

/* Carousel  */

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -3%;
    position: relative;
  }

  .left, .right{
    position: absolute;
    /* z-index: 1; */
    background: rgba(0,0,0,0.2);
    border: none;
    cursor: pointer;
    border-radius: 100%;
    img{
      height: 40px;
      width: 40px;
    }
  }

  .btn_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .left{
    left: 1%;
    top: 45%;

  }
  .right{
    right:1%;
    top: 45%;
  }

  .carousel {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
    height: 70%;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .cards {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .card {
    display: flex;
    flex: 0 0 100%;
    cursor: grab;
  }

  .card img {
    width: 65%;
    height: auto;
    object-fit: cover;
  }
  .head{
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 0.25em;
  }
  .description{
    width: 35%;
    background:linear-gradient(180deg,#001d3d 30.351030270486756%,rgb(0,53,102) 95.6440029532185%);
    color: white;
    line-height: 1.2em;
    text-align: justify;
    padding:40px;
  }

  .change{
    height: 30px;
    width: 80px;
    background:rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 46%;
  }
  .change_1, .change_2, .change_3{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background:rgba(0, 0, 0, 0.2);
    border: none;
  }


  /* media queries  */

  @media screen and (max-width: 1200px) and (min-width:600px ){
    .sub1{
      font-size: 3.25rem;
    }


  }
  @media screen and (max-width: 600px) and (min-width:500px ){
    .sub1{
      font-size: 2.5rem;
    }
    .sub2{
      font-size: 1rem;
    }

  }
  @media screen and (max-width: 500px) and (min-width:300px ){
    .sub1{
      font-size: 2.5rem;
    }
    .sub2{
      font-size: 1rem;
    }

  }

  @media screen and (max-width: 1400px) and (min-width:1000px ){
    .card img {
      width: 60%;
      height: auto;
      object-fit: cover;
    }
    .description{
      width: 40%;
      padding: 20px;
    }
    .left,  .right{
      img{
        height: 35px;
        width: 35px;
      }
    }
  }
  @media screen and (max-width: 1000px) and (min-width:700px ){
    .carouselContainer{
      margin: 50px;
    }
    .carousel {
      width: 70%;
      height: 100%;
      border-radius: 10px;
    }
    .cards {
      display: flex;
      height: 100%;
      width: 100%;
    }
    .card{
      flex-direction: column;
    }
    .card img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
    .description{
      width: 100%;
      height: 50%;
      padding: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1em;
      p{
        text-align: center;
      }
    }
    .left,  .right{
      img{
        height: 35px;
        width: 35px;
      }
    }
    .head{
      text-align: center;
      font-size: 1.68rem;
      p{
        margin: 0;
      }
    }

    .change{
      left: 44%;
      bottom: 1%;
    }
  }
  @media screen and (max-width: 700px) and (min-width:500px ){
    .carouselContainer{
      margin: 50px;
    }
    .carousel {
      width: 70%;
      height: 100%;
      border-radius: 10px;
    }
    .cards {
      display: flex;
      height: 100%;
      width: 100%;
    }
    .card{
      flex-direction: column;
    }
    .card img {
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
    .description{
      width: 100%;
      height: 40%;
      padding: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1em;
      p{
        text-align: center;
        font-size: 0.8rem;
      }
    }
    .left,  .right{
      img{
        height: 35px;
        width: 35px;
      }
    }
    .head{
      text-align: center;
      font-size: 1.3rem!important;
      p{
        margin: 0;
      }
    }

    .change{
      left: 35%;
      bottom: 1%;
    }
  }
  @media screen and (max-width: 500px) and (min-width:400px ){
    .carouselContainer{
      margin: 50px;
    }
    .carousel {
      width: 70%;
      height: 100%;
      border-radius: 10px;
    }
    .cards {
      display: flex;
      height: 100%;
      width: 100%;
    }
    .card{
      flex-direction: column;
    }
    .card img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
    .description{
      width: 100%;
      height: 50%;
      padding: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1em;
      p{
        text-align: center;
        font-size: 0.8rem;
      }
    }
    .left,  .right{
      img{
        height: 35px;
        width: 35px;
      }
    }
    .head{
      text-align: center;
      font-size: 1.3rem!important;
      p{
        margin: 0;
      }
    }

    .change{
      left: 39%;
      bottom: 1%;
    }
  }
  @media screen and (max-width: 400px) and (min-width:300px ){
    .carouselContainer{
      margin: 50px;
    }
    .carousel {
      width: 70%;
      height: 100%;
      border-radius: 10px;
    }
    .cards {
      display: flex;
      height: 100%;
      width: 100%;
    }
    .card{
      flex-direction: column;
    }
    .card img {
      width: 100%;
      height: 40%;
      object-fit: cover;
    }
    .description{
      width: 100%;
      height: 60%;
      padding: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1em;
      p{
        text-align: center;
        font-size: 0.8rem;
      }
    }
    .left,  .right{
      img{
        height: 35px;
        width: 35px;
      }
    }
    .head{
      text-align: center;
      font-size: 1.3rem!important;
      p{
        margin: 0;
      }
    }

    .change{
      left: 34%;
      bottom: 1%;
    }
  }