*{
  -webkit-user-select: none;
  user-select: none;
}
.active{
  top: 0;
  transition: top 0.5s ease-in-out;
}
.hidden{
  top: -100px;
  transition: top 0.5s ease-in-out;
}
.active1{
  top: 0;
  transition: top 0.5s ease-in-out;
}
.hidden1{
  top: -100px;
  transition: top 0.5s ease-in-out;
}
nav{
  background-color: rgba(255, 255, 255, 0.2);
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}
.imageLogoContainer {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
}
.imageLogoContainer img {
  width: 75px;
  height: auto;
  margin-left: 2rem;
}
.list {
  display: flex;
  width: 33%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.listElement {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.5s;
}

.about , .technology , .career{
  text-decoration: none;
  color: black;

}
.about:hover, .technology:hover, .career:hover {
    color: rgb(252, 185, 0);

}

.listElement:hover {
  cursor: pointer;
  color: rgb(252, 185, 0);
}

.name {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.name a{
  text-decoration: none;
  color: black;
}
.name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;

}
.dropdownElement {
  padding: 10px;
  cursor: pointer;
  z-index: 5;
}
.dropdownElement:hover {
  color: rgb(252, 185, 0);
}

/* Hamburger */
@media screen and (min-width:1024px ){
  .hamburger{
    display: none;
    position: fixed;
  }
}
@media screen and (max-width:1024px ){
  .list{
    display: none;
  }
}

@media screen and (max-width: 1024px) and (min-width:280px ){
  nav{
    justify-content: space-between;
  }
  .name{
    text-align: center;
    margin-right: 20%;
    display: none;

  }
}
@media screen and (max-width: 768px) and (min-width:320px ){
  nav{
    padding: 5px;
  }
  .imageLogoContainer img {
    width: 50px;
  }
}

@media screen and (max-width: 385px) {
  .imageLogoContainer img {
    width: 50px;
    margin-left: 1rem;
  }
  .list {
    width: 50%;
  }
  .list {
    width: 100%;
    gap: 1rem;
  }

  .imageLogoContainer {
    margin: 5px;
  }
  .dropdown{
    gap: 10px;
    padding: 20px;
  }
}

