body{
    margin: 0;
    padding: 0;
}
.contentwrapper{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

}
.topImage{
    height: 35%;
    width: 100vw;
    img{
        margin-top: -5%;
        height: 100%;
        width: 100vw;
        object-fit: cover;
    }

}

.aboutUs {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
    height: 100%;
    padding: 60px 200px 60px 200px;
}
.members{
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
    height: 150vh;
    /* margin-top: 50px; */
}
.heading{
    font-size:4.2rem;
    text-align: center;
    span{
        color: rgb(252, 185, 0);
    }
}
.heading1 ,.co{
    font-size:4rem;
    text-align: center;
    width: 50vw;
    span{
        color: rgb(252, 185, 0);
    }
}
.para{
    line-height: 1.7rem;
    font-size: 1.12rem;
    width: 80vw;
    text-align: justify;
}

/* member section  */
.team_members{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.members{
    padding: 0 20px 60px 20px;
    .heading{
        margin-bottom: 30px;
    }
}
.about_member{
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align:justify;
}
.member_position{
    text-align: center;
}
.members{
    display: flex;
    width: 100vw;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 29, 61) 0%, rgb(0, 53, 102) 100%);
    box-sizing: border-box;
    color: white;
    height: 100%;
    max-height: 75dvh;
  width: 45vw;
}

.member_image{
    height: 250px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 200px;
    img{
        border-radius: 40px 40px 0 0;
    height: 250px;
    width: 200px;
    object-fit: cover;
    }
}
.member_info{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* padding: 30px; */
    height: 100%;
    width: 80%;

}
.member_name{
    font-size: 2.3rem;
    text-align: center;
}

/* Scroll Animation */
.heading1, .co,.redirect_links,  .member{
    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes CSSscrollReveal {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.redirect_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* padding: 25px; */
    width: 80vw;
}
.link{
    text-decoration: underline;
    color: black;
    font-size:2rem;


}


/* Media Queries  */

@media screen and (max-width:900px) and (min-width:700px){
    .heading, .heading1, .co{
        font-size: 3.8rem;
        width: 80vw;
    }
    .para{
        font-size: 1.1rem;
    }
    .link{
        font-size: 1.75rem;
    }
}
@media screen and (max-width:700px) and (min-width:410px){
    .heading, .heading1, .co{
        font-size: 3rem;
        width: 80vw;
    }
    .para{
        font-size: 1rem;
    }
    .link{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:410px) and (min-width:300px){
    .heading, .heading1, .co{
        font-size: 2.2rem;
        width: 80vw;
    }
    .para{
        font-size: 1rem;
    }
    .link{
        font-size: 1rem;
    }
    .aboutUs, .members{
        padding: 30px 100px 30px 100px;
    }

}

/* media queries for member images  */

@media screen and (max-width:1300px) and (min-width:900px){
    .members{
        height: 200vh;
    }
    .member_image{
        img{
            border-radius: 40px 40px 0 0;
            width: 200px;
            object-fit: cover;
        }
    }
    .member_info{
        gap: 20px;
        padding: 0px;
        .about_member{
                width: 30vw;
        }
    }
    .member_name{
        font-size: 2rem;
    }
}

@media screen and (max-width:900px) and (min-width:500px){
    .members{
        padding: 0 50px 60px 50px;
        height: 100%;
    }
    .team_members{
        flex-direction: column;
    }
    .member{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }
    .member_image{
        height: 100%;
        img{
            border-radius: 40px 40px 0 0;
            width: 250px;
            height: 300px;
            object-fit: cover;
        }
    }
    .member_info{
        padding: 0px;
        gap: 20px;
        .about_member{
                word-spacing: 0.1rem;
                width: 70vw;
        }
    }
    .member_name{
        font-size: 1.5rem;
    }
    .member_position{
        font-size: 1rem;
    }
}
@media screen and (max-width:500px) and (min-width:300px){
    .members{
        padding: 0 50px 60px 50px;
        height: 100%;
    }
    .team_members{
        flex-direction: column;
    }
    .member{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        padding: 50px;
    }
    .member_image{
        height: 100%;
        img{
            border-radius: 40px 40px 0 0;
            width: 250px;
            height: 300px;
            object-fit: cover;
        }
    }
    .member_info{
        padding: 0px;
        gap: 20px;
        .about_member{
                word-spacing: 0.1rem;
                width: 70vw;
        }
    }
    .member_name{
        font-size: 1.5rem;
    }
    .member_position{
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) and (min-width:300px){
    .member{
        padding: 25px;
    }
    .member_image{
        height: 100%;
        img{
            border-radius: 20px 20px 0 0;
            width: 200px;
            height: 350px;
            object-fit: cover;
        }
    }
}
@media screen and (max-height: 700px) and (min-width:1000px){
    .member{
        max-height: none;
    }
}

