.contentwrapper{
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3% 0 3% 0;
}
.supportedby, .Grantsby{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    font-size: 1.16rem;
    font-weight: bold;
}
.supportorg{
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,2fr);
    row-gap: 2rem;

}
.grantsorg{
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}
.supportedby img, .Grantsby img{
    object-fit: scale-down;
    width: 11vw;
    height: 12vh;
    image-rendering: auto;
}


/* Media Queries  */

@media screen and (max-width: 1000px) and (min-width:800px ){
    .supportedby, .Grantsby{
        font-size: 1rem;
    }
}
@media screen and (max-width: 800px) and (min-width:600px ){
    .supportedby, .Grantsby{
        font-size: 1rem;
    }
    .grantsorg{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,2fr);
        row-gap: 2rem   ;
    }
    .supportorg{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,2fr);
    }
    /* .supportedby img, .Grantsby img{
        object-fit: scale-down;
        width: 4.5em;
        height: 90px;
        image-rendering: auto;

    } */
}

@media screen and (max-width: 600px) and (min-width:400px ){
    .contentwrapper{
        gap: 1em;
    }
    .supportedby, .Grantsby{
        font-size: 1rem;
    }
    .grantsorg{
        display: grid;
        padding: 30px;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        gap: 6px;
        height: 100%;
    }
    .supportorg{
        display: grid;
        padding: 30px;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 6px;
        height: 100%;
    }
    .supportedby img, .Grantsby img{
        object-fit: scale-down;
        width: 8em;
        height: 102px;
        image-rendering: auto;
    }
}
@media screen and (max-width: 400px) and (min-width:300px ){
    .contentwrapper{
        gap: 1em;
    }
    .supportedby, .Grantsby{
        font-size: 1rem;
    }
    .grantsorg{
        display: grid;
        padding: 30px;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 3px;
        height: 100%;
    }
    .supportorg{
        display: grid;
        padding: 30px;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        gap: 3px;
        height: 100%;
    }
    .supportedby img, .Grantsby img{
        object-fit: scale-down;
        width: 6em;
        height: 82px;
        image-rendering: auto;
    }
    .Grantsby img{
        width: 6em;
    }
}